@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<h1>
	@Model.Name
</h1>

<h2>
	@Model.Value("siteTitle")
</h2>
<h3>
	@Model.Value("siteSubTitle")
</h3>